body,
html {
  font-size: 100%;
  margin: 0; }
  body .flex,
  html .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  body .background,
  html .background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display: none; }
    @media (min-width: 992px) {
      body .background,
      html .background {
        display: block; } }
  body .background-sm,
  html .background-sm {
    background: url("C:/Users/Alpha-3000PC/Desktop/code/Portfolio/Flag/images/image2.jpg");
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    display: block;
    background-position: 20% 75%; }
    @media (min-width: 992px) {
      body .background-sm,
      html .background-sm {
        display: hidden; } }
  body .header,
  html .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body .header #address-tag,
    html .header #address-tag {
      background: white;
      width: 100%;
      text-align: right; }
      body .header #address-tag p,
      html .header #address-tag p {
        margin: 0.5rem 2rem 0;
        padding-bottom: 0.5rem;
        color: black;
        font-family: 'Courier New', Courier, monospace; }
    body .header .mobile-menu,
    html .header .mobile-menu {
      display: none;
      text-align: left;
      background: black;
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 3rem; }
      body .header .mobile-menu li,
      html .header .mobile-menu li {
        list-style-type: none;
        margin: 1rem; }
        body .header .mobile-menu li a,
        html .header .mobile-menu li a {
          color: #BA9C56;
          text-decoration: none;
          font-family: 'Courier New', Courier, monospace;
          font-size: 1.25rem; }
    body .header #logo,
    html .header #logo {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: 50%; }
      body .header #logo img,
      html .header #logo img {
        width: 55%;
        height: auto; }
        @media (min-width: 992px) {
          body .header #logo img,
          html .header #logo img {
            width: 40%; } }
    body .header .menu-collapse,
    html .header .menu-collapse {
      display: inline-block;
      margin: 0.5rem 1rem 0;
      z-index: 1; }
      body .header .menu-collapse .bar1,
      body .header .menu-collapse .bar2,
      body .header .menu-collapse .bar3,
      html .header .menu-collapse .bar1,
      html .header .menu-collapse .bar2,
      html .header .menu-collapse .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      @media (min-width: 992px) {
        body .header .menu-collapse,
        html .header .menu-collapse {
          display: none; } }
    body .header .collapsed .bar1,
    html .header .collapsed .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px); }
    body .header .collapsed .bar2,
    html .header .collapsed .bar2 {
      opacity: 0; }
    body .header .collapsed .bar3,
    html .header .collapsed .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px); }
    body .header .menu-wrapper,
    html .header .menu-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0.75rem;
      width: 50%;
      display: none; }
      @media (min-width: 992px) {
        body .header .menu-wrapper,
        html .header .menu-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      body .header .menu-wrapper .menu-element,
      html .header .menu-wrapper .menu-element {
        color: white;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        margin: 1.5rem;
        width: 100%;
        text-align: center; }
        body .header .menu-wrapper .menu-element a,
        html .header .menu-wrapper .menu-element a {
          text-decoration: none;
          color: white; }
        body .header .menu-wrapper .menu-element a:hover,
        html .header .menu-wrapper .menu-element a:hover {
          color: grey; }
  body section.about-us,
  html section.about-us {
    height: 65rem;
    background: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30rem; }
    @media (min-width: 992px) {
      body section.about-us,
      html section.about-us {
        height: 40rem;
        background: black;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    body section.about-us .different,
    html section.about-us .different {
      width: 100%;
      height: 10rem; }
    body section.about-us .fa,
    html section.about-us .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      color: white; }
    body section.about-us h1,
    html section.about-us h1 {
      color: #BA9C56;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.75rem; }
    body section.about-us .about-us-element:nth-of-type(2),
    html section.about-us .about-us-element:nth-of-type(2) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100px;
      border-top: 1px solid rgba(255, 255, 255, 0.5); }
    body section.about-us .about-us-element:nth-of-type(3),
    html section.about-us .about-us-element:nth-of-type(3) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      color: white; }
      @media (min-width: 992px) {
        body section.about-us .about-us-element:nth-of-type(3),
        html section.about-us .about-us-element:nth-of-type(3) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      body section.about-us .about-us-element:nth-of-type(3) span,
      html section.about-us .about-us-element:nth-of-type(3) span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        height: 100%;
        color: #BA9C56; }
      body section.about-us .about-us-element:nth-of-type(3) #map,
      html section.about-us .about-us-element:nth-of-type(3) #map {
        height: 16rem;
        width: 100%;
        margin: 0; }
        @media (min-width: 992px) {
          body section.about-us .about-us-element:nth-of-type(3) #map,
          html section.about-us .about-us-element:nth-of-type(3) #map {
            width: 25%;
            margin-top: 2rem;
            height: 20rem; } }
      body section.about-us .about-us-element:nth-of-type(3) .about-us-text,
      html section.about-us .about-us-element:nth-of-type(3) .about-us-text {
        margin: 2rem;
        line-height: 200%;
        text-align: center; }
        @media (min-width: 992px) {
          body section.about-us .about-us-element:nth-of-type(3) .about-us-text,
          html section.about-us .about-us-element:nth-of-type(3) .about-us-text {
            margin: 5rem;
            text-align: unset; } }
  body .gap,
  html .gap {
    height: 15rem; }
  body section.the-menu,
  html section.the-menu {
    height: 45rem;
    background: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem; }
    body section.the-menu .the-menu-element:nth-of-type(1),
    html section.the-menu .the-menu-element:nth-of-type(1) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      body section.the-menu .the-menu-element:nth-of-type(1) h1,
      html section.the-menu .the-menu-element:nth-of-type(1) h1 {
        color: #BA9C56;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.75rem; }
    body section.the-menu .the-menu-element:nth-of-type(2),
    html section.the-menu .the-menu-element:nth-of-type(2) {
      margin: 0 auto;
      width: 70%;
      height: 40rem;
      -webkit-box-shadow: 0px 10px 49px 0px rgba(179, 179, 179, 0.43);
              box-shadow: 0px 10px 49px 0px rgba(179, 179, 179, 0.43);
      border: solid 3px #86754D; }
      body section.the-menu .the-menu-element:nth-of-type(2) h2,
      html section.the-menu .the-menu-element:nth-of-type(2) h2 {
        color: #BA9C56;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        margin: 2rem;
        padding-top: 2rem; }
      body section.the-menu .the-menu-element:nth-of-type(2) p,
      html section.the-menu .the-menu-element:nth-of-type(2) p {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace; }
  body section.book,
  html section.book {
    height: 100%;
    background: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body section.book .book-element:nth-of-type(1),
    html section.book .book-element:nth-of-type(1) {
      padding-top: 5rem; }
      body section.book .book-element:nth-of-type(1) h1,
      html section.book .book-element:nth-of-type(1) h1 {
        color: #BA9C56;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.75rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 0;
        padding-top: 1rem; }
    body section.book .book-element:nth-of-type(2),
    html section.book .book-element:nth-of-type(2) {
      width: 70%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 auto; }
      @media (min-width: 992px) {
        body section.book .book-element:nth-of-type(2),
        html section.book .book-element:nth-of-type(2) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      body section.book .book-element:nth-of-type(2) img,
      html section.book .book-element:nth-of-type(2) img {
        width: 100%; }
        @media (min-width: 992px) {
          body section.book .book-element:nth-of-type(2) img,
          html section.book .book-element:nth-of-type(2) img {
            width: 70%; } }
      body section.book .book-element:nth-of-type(2) form,
      html section.book .book-element:nth-of-type(2) form {
        margin-bottom: 2rem; }
        @media (min-width: 992px) {
          body section.book .book-element:nth-of-type(2) form,
          html section.book .book-element:nth-of-type(2) form {
            margin-bottom: 3rem; } }
        body section.book .book-element:nth-of-type(2) form input,
        html section.book .book-element:nth-of-type(2) form input {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 5px;
          border: solid 2px #BA9C56;
          opacity: 0.6;
          font-family: 'Courier New', Courier, monospace;
          font-size: 1rem; }
        body section.book .book-element:nth-of-type(2) form input:focus,
        html section.book .book-element:nth-of-type(2) form input:focus {
          opacity: 1; }
        body section.book .book-element:nth-of-type(2) form input:hover,
        html section.book .book-element:nth-of-type(2) form input:hover {
          opacity: 1; }
        body section.book .book-element:nth-of-type(2) form input[type=submit],
        html section.book .book-element:nth-of-type(2) form input[type=submit] {
          opacity: 1;
          background: #BA9C56;
          font-weight: bold;
          cursor: pointer;
          -webkit-transition-duration: 0.4s;
               -o-transition-duration: 0.4s;
                  transition-duration: 0.4s; }
        body section.book .book-element:nth-of-type(2) form input[type=submit]:hover,
        html section.book .book-element:nth-of-type(2) form input[type=submit]:hover {
          -webkit-box-shadow: 0 6px 20px 0 rgba(179, 179, 179, 0.43);
                  box-shadow: 0 6px 20px 0 rgba(179, 179, 179, 0.43); }
        body section.book .book-element:nth-of-type(2) form textarea,
        html section.book .book-element:nth-of-type(2) form textarea {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 5px;
          border: solid 2px #BA9C56;
          opacity: 0.6; }
        body section.book .book-element:nth-of-type(2) form textarea:focus,
        html section.book .book-element:nth-of-type(2) form textarea:focus {
          opacity: 1; }
        body section.book .book-element:nth-of-type(2) form textarea:hover,
        html section.book .book-element:nth-of-type(2) form textarea:hover {
          opacity: 1; }