@import 'variables.scss';
body,
html {
    font-size: 100%;
    margin: 0;
    .flex {
        display: flex;
    }
    .background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        display: none;
        @include breakpoint(md) {
            display: block;
        }
    }
    .background-sm {
        background: url('C:/Users/Alpha-3000PC/Desktop/code/Portfolio/Flag/images/image2.jpg');
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        display: block;
        background-position: 20% 75%;
        @include breakpoint(md) {
            display: hidden;
        }
    }
    .header {
        flex-wrap: wrap;
        flex-direction: column;
        #address-tag {
            background: white;
            width: 100%;
            text-align: right;
            p {
                margin: 0.5rem 2rem 0;
                padding-bottom: 0.5rem;
                color: black;
                font-family: 'Courier New', Courier, monospace;
            }
        }
        .mobile-menu {
            display: none;
            text-align: left;
            background: black;
            position: absolute;
            width: 100%;
            z-index: 0;
            top: 3rem;
            li {
                list-style-type: none;
                margin: 1rem;
                a {
                    color: $bronze;
                    text-decoration: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1.25rem;
                }
            }
        }
        #logo {
            flex: 1;
            width: 50%;
            img {
                width: 55%;
                height: auto;
                @include breakpoint (md) {
                    width: 40%;
                }
            }
        }
        .menu-collapse {
            display: inline-block;
            margin: 0.5rem 1rem 0;
            z-index: 1;
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: white;
                margin: 6px 0;
                transition: 0.4s;
            }
            @include breakpoint(md) {
                display: none;
            }
        }
        .collapsed {
            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            .bar2 {
                opacity: 0;
            }
            .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
        .menu-wrapper {
            flex-direction: row;
            padding: 0.75rem;
            width: 50%;
            display: none;
            @include breakpoint(md) {
                display: flex;
            }
            .menu-element {
                color: white;
                font-size: 1.5rem;
                font-family: 'Courier New', Courier, monospace;
                margin: 1.5rem;
                width: 100%;
                text-align: center;
                a {
                    text-decoration: none;
                    color: white;
                }
                a:hover {
                    color: grey;
                }
            }
        }
    }
    section.about-us {
        @include section(65rem);
        margin-top: 30rem;
        @include breakpoint(md) {
            @include section(40rem);
        }
        .different {
            width: 100%;
            height: 10rem;
        }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            color: white;
        }
        h1 {
            @include sectionTitle();
        }
        .about-us-element:nth-of-type(2) {
            justify-content: center;
            height: 100px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        .about-us-element:nth-of-type(3) {
            justify-content: center;
            flex-direction: column;
            color: white;
            @include breakpoint (md) {
                flex-direction: row;
            }
            span {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                height: 100%;
                color: $bronze;
            }
            #map {
                height: 16rem;
                width: 100%;
                margin: 0;
                @include breakpoint (md) {
                    width: 25%;
                    margin-top:2rem;
                    height: 20rem;
                }
            }
            .about-us-text {
                margin: 2rem;
                line-height: 200%;
                text-align: center;
                @include breakpoint (md) {
                    margin: 5rem;
                    text-align: unset;
                }
            }
        }
    }
    .gap {
        height: 15rem;
    }
    section.the-menu {
        @include section(45rem);
        padding-top: 1rem;
        .the-menu-element:nth-of-type(1) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            h1 {
                @include sectionTitle();
            }
        }
        .the-menu-element:nth-of-type(2) {
            margin: 0 auto;
            width: 70%;
            height: 40rem;
            box-shadow: 0px 10px 49px 0px rgba(179, 179, 179, 0.43);
            border: solid 3px $dark-bronze;
            h2 {
                color: $bronze;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                margin: 2rem;
                padding-top: 2rem;
            }
            p {
                color: white;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
    section.book {
        @include section(100%);
        .book-element:nth-of-type(1) {
            padding-top: 5rem;
            h1 {
                @include sectionTitle();
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                margin-top: 0;
                padding-top: 1rem;
            }
        }
        .book-element:nth-of-type(2) {
            width: 70%;
            flex-direction: column;
            margin: 0 auto;
            @include breakpoint(md) {
                flex-direction: row;
            }
            img {
                width: 100%;
                @include breakpoint(md) {
                    width: 70%;
                }
            }
            form {
                margin-bottom: 2rem;
                @include breakpoint(md) {
                    margin-bottom: 3rem;
                }
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: solid 2px $bronze;
                    opacity: 0.6;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 1rem;
                }
                input:focus {
                    opacity: 1;
                }
                input:hover {
                    opacity: 1;
                }
                input[type=submit] {
                    opacity: 1;
                    background: $bronze;
                    font-weight: bold;
                    cursor: pointer;
                    transition-duration: 0.4s;
                }
                input[type=submit]:hover {
                    box-shadow: 0 6px 20px 0 rgba(179, 179, 179, 0.43);
                }
                textarea {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: solid 2px $bronze;
                    opacity: 0.6;
                }
                textarea:focus {
                    opacity: 1;
                }
                textarea:hover {
                    opacity: 1;
                }
            }
        }
    }
}