$bronze: #BA9C56;
$dark-bronze: #86754D;


@mixin section($height) {
    height: $height;
    background: black;
    flex-direction: column;
}
@mixin sectionTitle() {
    color: $bronze;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
}

 @mixin breakpoint($class) {
    @if $class == xs {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $class == sm {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 992px) { @content; }
    }
   
    @else if $class == lg {
      @media (min-width: 1200px) { @content; }
    }
    @else if $class == xlg {
      @media (min-width: 1500px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }
